{% extends 'listings/base.html' %}

<!-- Contenu -->
{% block content %}

<h2>{{ listing.title }}</h2>

<ul>
  <li>Description : {{listing.description }}</li>
  <li>Vendu : {{listing.sold|yesno}}</li>
  <li>Année : {{listing.year}}</li>
  <li>Type : {{listing.get_type_display}}</li>
</ul>

<a href="{% url 'listing-update' listing.id %}">Modifer l'annonce</a>
<a href="{% url 'listing-delete' listing.id %}">Supprimer l'annonce</a>
<a href="{% url 'listing-list' %}">Retour à toutes les annonces</a>

{% endblock %}
